/Makefile.common
autom4te.cache/
aclocal.m4
/autoconf/configure
config.status
config.log
/llvm/Makefile
/llvm/install_manifest.txt
/llvm/**/CMakeCache.txt
/llvm/**/CMakeFiles
/llvm/**/cmake_install.cmake
/llvm/lib/Mementos/Makefile
/libmementos_fram.a
/mementos*.o
