Makefile.common
**/autoconf/autom4te.cache/
**/autoconf/aclocal.m4
config.status
config.log
llvm/Debug+Asserts/
llvm/Release+Asserts/
llvm/lib/Mementos/Debug+Asserts/
llvm/lib/Mementos/Release+Asserts/
