/Makefile.common
autom4te.cache/
aclocal.m4
/autoconf/configure
config.status
config.log
/llvm/Makefile.common
/llvm/Debug+Asserts/
/llvm/Release+Asserts/
/llvm/lib/Mementos/Debug+Asserts/
/llvm/lib/Mementos/Release+Asserts/
